.todo__content-add {
   display: flex;
   align-items: center;
   input {
      margin-right: 50px;
      font-size: 16px;
      display: block;
      width: 300px;
      border: none;
      border-bottom: 3px solid #ccc;
      background-color: transparent;

      &:focus {
         outline: none;
      }
   }
}
